/* Background and Text Styling */
.welcome-container {
    background-color: black;
    color: white;
    min-height: 100vh;
    font-family: sans-serif;
    overflow-y: scroll;
    
}

/* Centering the content */
.welcome-content {
    padding-top: 5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Left section */
.welcome-left {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

/* Right section */
.welcome-right {
    padding-left: 10%;
    width: 100%;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.welcome-right h1{
    color: #e7e9ea;
    font-size: 75px;
    font-weight: bolder;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 5%;
    font-family: inherit;
}
.welcome-right h2{
   
    font-size: large;
    margin: 10% 0 2% 0;
}
.welcome-right h3{
    color: #e7e9ea;
    font-family: inherit;
    word-wrap: break-word;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 3%;
}
.welcome-right h6{
    color: gray;
    text-align: center;
    font-size: 18px;
    width: 50%;
}
/* Buttons */
.welcome-button {
    width: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 5px;
    font-size: 20px;
    padding: 5px 0;
    border-radius: 30px;
    cursor: pointer;
}

.google-signin {
    background-color: white;
    color: black;
}

.apple-signup {
    color: black;
    margin: 10px 0 10px 0;
    background-color: white;
}

.create-account {
    padding: 10px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: #1d9bf0;
}

.signin-btn {
    font-weight:400;
    font-size: 18px;
    color: #1d9bf0;
    margin-top: 2%;
    padding: 15px 10px;
    background-color: black;
    border: 1px solid silver;
}

/* Terms & Conditions Text */
.terms-text {
    width: 50%;
    margin-top: 10px;
    font-size: 14px;
    color: #a0a0a0;
}

/* Footer Buttons */
.footer-links {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    font-size: 15px;
    margin-top: 6%;
}
.twitter-icon{
    color: #e7e9ea;
    width: 80%;
    font-size: 370px;
    margin-left: 20%;
}
.footer-links button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 15px;
    color: gray;
}
/* MODAL STYLING */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(2, 13, 118, 0.338); */
    background-color: rgba(91, 112, 131, 0.4);
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: black;
    color: white;
    
    padding:2% 5% 2% 5%;
    border-radius: 20px;
    width: 38vw;
    height: 90vh;
    text-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: start;
}
.modal-content h1{
    margin: 15% 0 5% 0;
}
.modal-content h3{
    margin-top: 5%;
}
.modal-input {
 
    width: 80%;
    padding: 10px;
    /* margin-top: 10%; */
    height: 70px;
    background: black;
    border: 1px solid gray;
    /* opacity: 40.0%; */
    color: white;
    border-radius: 5px;
}
.modal-top{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    width: 100%;
    position:absolute;
    top:1%;
    left: 2%;
}
.modal-button {
    width: 70%;
    /* bottom: 0%; */
    padding: 15px 15px;
    font-size: 20px;
    background: gray;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    bottom: 2%;
}
.modal-content h1{
    font-size: 30px;
    font-weight: bold;
    
}
.modal-content p{
    width: 100%;
    font-size: 15px;
    color:#a0a0a0;
    
}
.modal-logo{
    width: 100%;
}

/* email modal */
.email-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(2, 13, 118, 0.338); */
    background-color: rgba(91, 112, 131, 0.4);
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.email-content {
    background: black;
    color: white;
    
    padding:2% 7% 2% 7%;
    border-radius: 20px;
    width: 38vw;
    height: 90vh;
    text-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: start;
}
.email-content h1{
    margin: 15% 0 5% 0;
}
.email-content h3{
    margin-top: 5%;
}

.close-button {
    /* position: absolute; */
    /* top: 20px;
    left: 30px; */
    margin-right: 40%;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.email-input {
 
    width: 80%;
    padding: 10px;
    margin: 5% 10%;
    
    
    height: 60px;
    background: black;
    border: 1px solid gray;
    /* opacity: 40.0%; */
    color: white;
    border-radius: 5px;
}
.email-top{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    width: 100%;
    position:absolute;
    top:1%;
    left: 2%;
}
/* .modal-input:focus{
    border: 2px solid blue;
} */

.dob-section {
    width: 100%;
    display: flex;
    margin: 3% 0 5% 0;
    align-items: flex-start;
    justify-content: space-between;
}

.email-button {
    width: 70%;
    /* bottom: 0%; */
    padding: 8px 8px;
    font-size: 17px;
    background: gray;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
   
}
.email-content h1{
    font-size: 30px;
    font-weight: bold;
    
}
.email-content p{
    width: 100%;
    font-size: 15px;
    color:#a0a0a0;
    
}
.email-logo{
    width: 100%;
}
.not-account{
    margin-top: 15%;
    margin-left: 10%;
    width: 100%;
    display: flex;
    /* align-items: center; */
    gap: 5px;
    /* justify-content: center; */
}
.not-account p{
    color: gray;
    width: 50%;
    font-size: 15px;
}
.not-account button{
    /* width: 60%; */
    cursor: pointer;
    background-color: black;
    border: none;
    color: #1d9bf0;
}

/* password modal */
.password-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(2, 13, 118, 0.338); */
    background-color: rgba(91, 112, 131, 0.4);
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.password-content {
    background: black;
    color: white;
    padding:2% 7% 2% 7%;
    border-radius: 20px;
    width: 38vw;
    height: 90vh;
    text-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: start;
}
.password-content h1{
    margin: 10% 0% 5% 0%;
}
.password-content h3{
    margin-top: 5%;
}
.password-input {
 
    width: 100%;
    padding: 10px;
    margin-bottom: 5% ;
    /* margin-left: 10%; */
    height: 70px;
    background: black;
    border: 1px solid gray;
    /* opacity: 40.0%; */
    color: white;
    border-radius: 5px;
}
.password-top{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    width: 100%;
    position:absolute;
    top:1%;
    left: 2%;
}
.password-button {
    width: 60%;
    /* bottom: 0%; */
    padding: 8px 8px;
    font-size: 17px;
    background-color: rgb(239, 243, 244);
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    
}
.password-content h1{
    font-size: 30px;
    font-weight: bold;
    
}
.password-content span{

    font-size: 15px;
    color:#a0a0a0;
    
}
.password-logo{
    width: 100%;
}
.footer-password-btn{
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.password-not-account{
    margin-top: 5%;
    
    width: 100%;
    display: flex;
    /* align-items: center; */
    gap: 5px;
    /* justify-content: center; */
}
.password-account p{
    color: gray;
    /* width: 50%; */
    font-size: 15px;
}
.password-not-account button{
    /* width: 60%; */
    cursor: pointer;
    background-color: black;
    border: none;
    color: #1d9bf0;
}
/* 🔹 For Tablets (Min: 600px) */
@media screen and (max-width:600px){
    .welcome-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .welcome-left {
        padding: 5% 0 0 10%;
        text-align: start;
        width: 100%;
    }

    .welcome-right {
        margin-top: 15%;
        width: 100%;
        text-align: left;
        align-items: flex-start;
    }

    .welcome-right h1 {
        width: 100%;
        font-size: 45px;
    }

    .welcome-right h3 {
        font-size: 18px;
    }
    .welcome-right h6{
        width: 100%;
    }
    .welcome-button {

        width: 80%;
        font-size: 20px;
    }
    .twitter-icon{
        margin: 0%;
        width: auto;
        font-size: 50px;
    }
    .terms-text {
        width: 100%;
        font-size: 15px;
    }

    .footer-links {
        gap: 15px;
        margin-top: 15%;
    }
    .footer-links button{
        font-size: 12px;
    }
    .modal-overlay{
        width: 100%;
    }
    .modal-content{
        width: 100%;
        height: 100%;
    }
    .modal-top{
        position: absolute;
       top:7%;
    }
    .close-button{
        position: absolute;
        top:-30px;
        left: -9px;
        font-size: 20px;
        color: gray;
    }

}

/* 🖥️ For Desktops (Min: 1024px) */
/* @media (min-width: 1024px) {
    .welcome-container {
        flex-direction: row;
    }

    .welcome-left {
        width: 50%;
    }

    .welcome-right {
        width: 50%;
        text-align: left;
        align-items: flex-start;
    }

    .welcome-right h1 {
        font-size: 75px;
    }

    .welcome-right h3 {
        font-size: 30px;
    }

    .welcome-button {
        font-size: 22px;
        width: 60%;
    }

    .terms-text {
        font-size: 16px;
    }

    .footer-links {
        font-size: 16px;
        margin-top: 2%;
    }

    .twitter-icon {
        font-size: 400px;
    }
} */